<div class="border rounded-2 mt-3">
  <div class="p-2 text-body">
    <div>
      <span class="meteoblue-pictofont">&#xE019;</span>
      = Precipitation Probability
    </div>
    <div>
      <span class="meteoblue-pictofont">&#xE011;</span>
      = Felt Temperature
    </div>
    <div>
      <span class="meteoblue-pictofont">&#xE015;</span>
      = Relative Humidity
    </div>
    <div>
      <span class="meteoblue-pictofont">&#xE012;</span>
      = Wind Direction
    </div>
    <div>
      <span class="meteoblue-pictofont">&#xE013;</span>
      = Wind Speed
    </div>
    <div class="d-flex flex-column flex-xl-row justify-content-between p-2">
      <div
        class="text-body text-center d-flex flex-row flex-xl-column justify-content-between border rounded-2"
        *ngFor="let hour of forecastPerHour.time; let hourIndex = index"
      >
        <div class="p-1">
          <div>{{ hour }}</div>
          <div>{{ temperatureList[hourIndex] }}</div>
        </div>
        <div class="p-1 mt-1">
          <img
            class="{{ pictogramBgList[hourIndex] }} bg-gradient rounded-2"
            src="{{ pictogramPathList[hourIndex] }}"
            width="40px"
          />
        </div>
        <div class="p-1 mt-1 border-bottom">
          <div class="meteoblue-pictofont">&#xE019;</div>
          <div>{{ forecastPerHour.precipitationProbability[hourIndex] }}%</div>
        </div>
        <div class="p-1 mt-1 border-bottom">
          <div class="meteoblue-pictofont">&#xE011;</div>
          <div>{{ feltTemperatureList[hourIndex] }}</div>
        </div>
        <div class="p-1 mt-1 border-bottom">
          <div class="meteoblue-pictofont">&#xE015;</div>
          <div>{{ forecastPerHour.relativeHumidity[hourIndex] }}%</div>
        </div>
        <div class="p-1 mt-1 border-bottom">
          <div class="meteoblue-pictofont">&#xE012;</div>
          <div
            class="meteoblue-pictofont"
            [innerHTML]="windDirectionList[hourIndex]"
          ></div>
        </div>
        <div class="p-1 mt-1 border-bottom">
          <div class="meteoblue-pictofont">&#xE013;</div>
          <div>{{ windSpeedList[hourIndex] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<canvas
  class="chart meteoblue-pictofont border rounded-2 mt-3"
  baseChart
  [data]="tempChartData"
  [options]="tempChartOptions"
></canvas>
<canvas
  class="chart meteoblue-pictofont border rounded-2 mt-3"
  baseChart
  [data]="precipitationChartData"
  [options]="precipitationChartOptions"
></canvas>
