<div>
  <p class="text-body">
    This is the corresponding tab content for the tab with the index
    {{ tabIndex() }}
  </p>
  <canvas
    class="max-height border rounded-2 p-2"
    baseChart
    [data]="data"
    [options]="options"
  >
  </canvas>
  <div
    class="d-flex flex-column flex-xl-row justify-content-between mt-3 border rounded-2 p-2"
  >
    <div
      class="text-body text-center d-flex flex-row flex-xl-column justify-content-between"
      *ngFor="let hour of forecastPerHour.time; let i = index"
    >
      <div class="py-1">{{ hour }}</div>
      <img src="{{ pictogramPathList[i] }}" width="40px" />
      <div class="py-1">{{ forecastPerHour.relativeHumidity[i] }}%</div>
    </div>
  </div>
</div>
