<div 
  [formGroup]="parentFormGroup"
  class="editable-input__container"
  [ngStyle]="{ width: editingModalSize?.width + 'px', height: editingModalSize?.height + 'px' }"
  >
  <label class="form-control__label" for="inputControl">Cluster Id:</label>
  <div class="editable-input__input-wrapper">
    <input
      id="inputControl"
      class="editable-input"
      type="text"
      [formControl]="formControl"
      (focus)="onInputControlFocus()"
      (blur)="onInputControlBlur()"
      />
    @if (isInputEditable) {
      <button 
        class="button button--small button--icon editable-input__edit-button"
        #editButton
        (click)="openEditingModal()">
        <i class="bi bi-pencil-square"></i>
      </button>
    }
  </div>  
</div>


