<h2 class="text-center text-body">Weather Forecast</h2>

<div class="card">
  <div class="card-header">Search Location</div>
  <div class="card-header text-info fst-italic">
    Sorry, this is a demo. The request comes from an API with demo data for
    "Copenhagen".
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="col-4 d-flex mb-3" role="search">
        <span class="px-2 py-1">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          name="name"
          [(ngModel)]="query"
          class="form-control me-2"
          placeholder="Copenhagen"
          aria-label="Search"
        />
        <button type="submit" class="btn btn-outline-success">Search</button>
      </div>
    </form>
    <table
      class="table table-hover"
      *ngIf="locationQueryResult.results.length > 0"
    >
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Country Code</th>
          <th scope="col">Country</th>
          <th scope="col">State</th>
          <th scope="col">Above Sea Level</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="cursor-pointer"
          *ngFor="let location of locationQueryResult.results"
          (click)="onGetForecast(location)"
        >
          <td>{{ location.name }}</td>
          <td>{{ location.countryCodeIso2 }}</td>
          <td>{{ location.country }}</td>
          <td>{{ location.state }}</td>
          <td>{{ location.aboveSeaLevel }}</td>
          <td>{{ location.lat }}</td>
          <td>{{ location.lon }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-5">
  <app-forecast-nav-tab> </app-forecast-nav-tab>

  <div class="card">
    <div class="card-header">
      Featured
      <p>Test: {{ weatherForecast.metadataDto.modelRunUpdateTimeUtc }}</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
