<h2 class="text-center text-body">Weather Forecast</h2>

<div class="card">
  <div class="card-header">Search Location</div>
  <div class="card-header text-danger fst-italic">
    Sorry, this is a demo. The request comes from an API with demo data for
    'Copenhagen'.
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="col-4 d-flex mb-3" role="search">
        <input
          type="text"
          name="name"
          [(ngModel)]="query"
          class="form-control me-2"
          placeholder="Copenhagen"
          aria-label="Search"
        />
        <button type="submit" class="btn btn-outline-success">Search</button>
      </div>
    </form>
    <table class="table" *ngIf="locationQueryResult.results.length > 0">
      <tbody>
        <tr *ngFor="let location of locationQueryResult.results">
          <td>
            <button class="btn btn-info">{{ location.name }}</button>
          </td>
          <td>{{ location.country }}</td>
          <td>{{ location.state }}</td>
          <td>{{ location.aboveSeaLevel }}</td>
          <td>{{ location.lon }}</td>
          <td>{{ location.lat }}</td>
          <td>{{ location.countryCodeIso2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card my-5">
  <div class="card-header">Forecast</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Temp. °C</th>
          <th scope="col">Temp. °F</th>
          <th scope="col">Summery</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
