.cursor-pointer {
  cursor: pointer;
}

.meteoblue-pictofont {
  font-family: 'MeteobluePictofont', sans-serif;
}

.bg-day {
  background-color: rgb(13, 110, 253);
}

.bg-night {
  background-color: rgb(3, 22, 51);
}