<div [formGroup]="parentForm">
  <h3 class="form__heading form__heading--third">Destinations: {{ "{" }}</h3>
  <ng-container formArrayName="destinations">
    @for (destination of formArray.controls; track $index; let i = $index) 
    {
      <div class="tab-2ch form-container" [formGroupName]="i">
        <div class="control-field">
          <span>"</span>
          @if (destination.get('destinationName')?.invalid) 
          {
            <label class="control__label" for="destinationName-{{ i }}"
              >Destination Name:
            </label>
          }
          <div class="control__input-wrapper">
            <input
              class="control__input"
              type="text"
              id="destinationName-{{ i }}"
              formControlName="destinationName"
              name="destinationName-{{ i }}"
              autocomplete="off"
              [required]="true"
              (focus)="onControlFocus(i, 'destinationName')"
              (blur)="onControlBlur(i, 'destinationName')"
            />
            <span class="control-required"></span>
            @if (destination.get('destinationName')?.errors?.['required']) 
            {
              <span class="control-feedback">Required</span>
            }
            @if (destination.get('destinationName')?.hasError('invalidNameProperty'))
                {
                  <span class="control-feedback"
                    >Invalid Name
                    <button
                      type="button"
                      class="control-feedback__info"
                      [title]="destination.get('destinationName')?.getError('invalidNameProperty')?.message"
                      tabindex="-1"
                    ></button>
                  </span>
                }
            @if (canControlOptionsDisplayed['destinationName'])
            {
              <div class="control__editing-options">
                <div class="tooltip">
                  <button
                    class="button button--primary button--icon"
                    (mousedown)="onControlOptionButtonMouseDown()"
                    (click)="handleChangeRequest(i, 'destinationName')"
                    [disabled]="!isControlValueChanged(i, 'destinationName')"
                  >
                    <i class="bi bi-arrow-repeat"></i>
                  </button>
                  <span class="tooltip-text">Update</span>
                </div>
                <div class="tooltip">
                  <button
                    class="button button--secondary button--icon"
                    (mousedown)="onControlOptionButtonMouseDown()"
                    (click)="reset(i)"
                  >
                    <i class="bi bi-arrow-counterclockwise"></i>
                  </button>
                  <span class="tooltip-text">Reset</span>
                </div>
              </div>
            }
          </div>
          <span>": {{ "{" }}</span>
        </div>
        <div class="tab-2ch">
          <div class="control-field">
            <label class="control__label" for="address-{{ i }}">Address: </label>
            <div class="control__input-wrapper">
              <input
                class="control__input"
                id="address-{{ i }}"
                type="text"
                formControlName="address"
                name="address-{{ i }}"
                autocomplete="off"
                [required]="true"
                (focus)="onControlFocus(i, 'address')"
                (blur)="onControlBlur(i, 'address')"
              />
              <span class="control-required"></span>
              @if (destination.get('address')?.invalid &&
                  (destination.get('address')?.dirty ||
                  destination.get('address')?.touched)) 
              { 
                @if (destination.get('address')?.hasError('required')) 
                {
                  <span class="control-feedback">Required</span>
                } 
                @if (destination.get('address')?.hasError('invalidDestinationAddress'))
                {
                  <span class="control-feedback"
                    >Invalid URL
                    <button
                      type="button"
                      class="control-feedback__info"
                      [title]="destination.get('address')?.getError('invalidDestinationAddress')?.message"
                      tabindex="-1"
                    ></button>
                  </span>
                } 
              }
              @if (canControlOptionsDisplayed['address'])
              {
                <div class="control__editing-options">
                  <div class="tooltip">
                    <button
                      class="button button--primary button--icon"
                      (click)="handleChangeRequest(i, 'address')"
                      [disabled]="!isControlValueChanged(i, 'address')"
                    >
                      <i class="bi bi-arrow-repeat"></i>
                    </button>
                    <span class="tooltip-text">Update</span>
                  </div>
                  <div class="tooltip">
                    <button
                      class="button button--secondary button--icon"
                      (click)="reset(i)"
                    >
                      <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                    <span class="tooltip-text">Reset</span>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
        <div class="tab-2ch"></div>
        <div class="form__footer">
          <span>{{ "}" }}</span>
        </div>
      </div>
    }
  </ng-container>
  <span class="form__heading form__heading--third">{{ "}" }},</span>
  <div>
    <app-modal-dialog
      [title]="modalTitle"
      [visible]="showDialog"
      (close)="showDialog = false"
    >
      <p>{{ modalMessage }}</p>
    </app-modal-dialog>
  </div>
  <div>
    <app-request-progress
      [title]="modalTitle"
      [visible]="showRequestProgress"
      (close)="showRequestProgress = false"
    >
    </app-request-progress>
  </div>
</div>
