<div [formGroup]="parentFormGroup">
  <h3 class="form__heading form__heading--third">Destinations: {{ "{" }}</h3>
  <ng-container formArrayName="destinations">
    @for (destination of destinations.controls; track $index; let destinationIndex = $index) 
    {
      <div class="tab-2ch form-container" [formGroupName]="destinationIndex">
      <div class="form-control__container">
        <span>"</span> 
        <config-editor-editable-input
          [parent]="destination"
          [parentIndex]="destinationIndex"
          [controlName]="CONTROL_NAMES.DESTINATION_NAME"
          [label]="CONTROL_LABELS.DESTINATION_NAME"
          [showLabel]="false"
        ></config-editor-editable-input>
        <span>": {{ "{" }}</span>
        </div>
        <div class="tab-2ch">
          <div class="form-control__container">
            <config-editor-editable-input
              [parent]="destination"
              [parentIndex]="destinationIndex"
              [controlName]="CONTROL_NAMES.DESTINATION_ADDRESS"
              [label]="CONTROL_LABELS.DESTINATION_ADDRESS"
              [showLabel]="true"
            ></config-editor-editable-input>
            <span>"</span>
          </div>
        </div>
        <div class="tab-2ch"></div>
        <div class="form__footer">
          <span>{{ "}" }}</span>
        </div>
      </div>
    }
  </ng-container>
  <span class="form__heading form__heading--third">{{ "}" }},</span>
</div>
