<div class="form-container" [formGroup]="parentForm">
  <h3 class="form__heading">Destinations: [</h3>
  <ng-container formArrayName="destinations">
    @for (destination of formArray.controls; track $index; let i = $index) {
    <div class="tab-2ch" [formGroupName]="i">
      <span>"</span>
      <input type="text" formControlName="destinationName" />
      <span>": {{ "{" }}</span>
      <div class="tab-2ch">
        <label for="address">Address: </label>
        <input id="address" type="text" formControlName="address" /><br />
      </div>
      <div class="tab-2ch"></div>
      <span>{{ "}" }}</span>
    </div>
    }
  </ng-container>
  <div class="form__footer">
    <span class="form__footer-closing-bracket">],</span>
  </div>
</div>
