<h2 class="text-center my-4">Weather Forecast</h2>

<form (ngSubmit)="onSubmit()">
    <div class="col-4 d-flex mb-3" role="search">
        <input type="text" name="name" [(ngModel)]="city" class="form-control me-2" placeholder="Enter city" aria-label="Search">
        <button type="submit" class="btn btn-outline-success">Search</button>
    </div>
</form>
<table class="table" *ngIf="locations.length > 0">
    <tbody>
        <tr *ngFor="let location of locations">
            <td>{{location.name}}</td>
            <td>{{location.country}}</td>
            <td>{{location.state}}</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Temp. °C</th>
            <th scope="col">Temp. °F</th>
            <th scope="col">Summery</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{forecast.date}}</td>
            <td>{{forecast.temperatureC}}</td>
            <td>{{forecast.temperatureF}}</td>
            <td>{{forecast.summary}}</td>
        </tr>
    </tbody>
  </table>
