<nav>
  <div
    class="nav nav-tabs nav-fill flex-column flex-xl-row"
    id="weather-forecast-nav-tab"
    role="tablist"
  >
    <app-day-overview
      *ngFor="let item of forecastPerDay.time; index as index"
      [itemIndex]="index"
      class="nav-link text-body"
      role="tab"
      id="nav-link-{{ index }}"
      data-bs-toggle="tab"
      [attr.data-bs-target]="'#tab-pane-' + index"
      type="button"
      aria-controls="nav-tab"
      [attr.aria-selected]="index === 0 ? 'true' : 'false'"
      [ngClass]="{ active: index === 0 }"
    ></app-day-overview>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <app-day-details
    *ngFor="let item of forecastPerDay.time; index as index"
    [tabIndex]="index"
    class="tab-pane fade"
    id="tab-pane-{{ index }}"
    role="tabpanel"
    [attr.aria-labelledby]="'nav-tab-' + index"
    [ngClass]="{ 'show active': index === 0 }"
  ></app-day-details>
</div>
