<div class="editing-options__wrapper">
  <div class="tooltip">
    <button
      class="button button--primary button--icon"
      
    >
      <i class="bi bi-arrow-repeat"></i>
    </button>
    <span class="tooltip-text">Update</span>
  </div>
  <div class="tooltip">
    <button
      class="button button--secondary button--icon"
      
    >
      <i class="bi bi-arrow-counterclockwise"></i>
    </button>
    <span class="tooltip-text">Reset</span>
  </div>
  <div class="tooltip">
    <button
      class="button button--secondary button--icon"
      (click)="onCancelClick()"
    >
      <i class="bi bi-x-circle"></i>
    </button>
    <span class="tooltip-text">Cancel</span>
  </div>
</div>
