.layout__sidebar-content {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.layout__sidebar {
  margin: 0;
  width: 10rem;
  height: 100vh;
  border-right: 0.125rem solid var(--neuko-border-dark-nav);
  background-color: var(--neuko-bg-dark-nav);
}

.layout__content {
  margin: 0;
  flex-grow: 3;
}
