<div class="editing-modal__overlay" (click)="onBackdropClick()"></div>
<div
  #modalContainer
  class="editing-modal__container"
  [ngStyle]="{ 
    top: modalPosition?.top + 'px', 
    left: modalPosition?.left + 'px', 
    minWidth: modalPosition?.width + 'px',
    minHeight: modalPosition?.height + 'px'
  }">
  <div 
    class="editing-modal__content"
    >
    <label class="form-control__label" for="inputForm">{{ label }}</label>
    <input
      #inputElement
      id="inputForm"
      class="form-control__input"
      type="text"
      autocomplete="off"
      [required]="true"
      [formControl]="formControl"
    />
    <div class="editing-options__wrapper">
      <div class="tooltip">
        <button
          type="submit"
          class="button button--primary button--icon"
          (click)="onFormSubmit()"
        >
          <i class="bi bi-save"></i>
        </button>
        <span class="tooltip-text">Save changes</span>
      </div>
      <div class="tooltip">
        <button
          type="button"
          class="button button--secondary button--icon"
          (click)="onResetClick()"
        >
          <i class="bi bi-arrow-counterclockwise"></i>
        </button>
        <span class="tooltip-text">Reset</span>
      </div>
      <div class="tooltip">
        <button
          type="button"
          class="button button--secondary button--icon"
          (click)="onCancelClick()"
        >
          <i class="bi bi-x-circle"></i>
        </button>
        <span class="tooltip-text">Cancel</span>
      </div>
    </div>
  </div>
</div>