.editing-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.editing-modal__container {
  position: fixed;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(
      rgba(var(--neuko-text-info-rgb), 0.1),
      rgba(var(--neuko-text-info-rgb), 0.1)
    ),
    var(--neuko-bg-body);

  border: 0.1rem solid var(--neuko-text-info);
  border-radius: 0.25rem;
  z-index: 1001;
}

.editing-modal__content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}

.form-control__input-wrapper.shake {
  animation: shake 0.4s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
