<div class="editing-modal__overlay"></div>
<div
  #modalContainer
  class="editing-modal__container"
  [ngStyle]="{ 
    top: modalPosition?.top + 'px', 
    left: modalPosition?.left + 'px', 
    minWidth: modalPosition?.width + 'px',
    minHeight: modalPosition?.height + 'px'
  }">
  <form 
    class="editing-modal__content">
    <label class="form-control__label" for="inputForm">Lfknlmsöobndöylbmfy-kbnmyölkbkfvbnkdjvuskef: </label>
    <input
      #inputElement
      id="inputForm"
      class="form-control__input"
      type="text"
      autocomplete="off"
      [required]="true"
    />
  </form>
</div>