<section class="container">
  <h2>Gateway configuration editor</h2>

  @if (currentConfigResource.isLoading()) {
  <p>Loading...</p>
  }@else {
  <div class="config-form">
    <ng-container [formGroup]="gatewayConfigForm">
      <div>
        <span>"</span>
        <input id="configName" type="text" formControlName="configName" />
        <span>": {{ "{" }}</span>
        <div style="padding-left: 2ch">
          <span>"ConfigId": "{{ currentConfigResource.value()?.id }}",</span
          ><br />
          <app-routes-editor formArrayName="routes"></app-routes-editor>
        </div>
      </div>
    </ng-container>
  </div>

  }
</section>
