<section class="container">
  <h2>Gateway configuration editor</h2>

  @if (currentConfigResource.isLoading()) {
  <p>Loading...</p>
  }@else {
  <div class="form-container">
    <ng-container [formGroup]="gatewayConfigForm">
      <div>
        <h3 class="form__heading">
          <div class="form-control__container">
            <span>"</span>
            @if (configName?.invalid) {
            <label class="form-control__label" for="configName">Config Name:</label>
            }
            <div class="form-control__input-wrapper">
              <input
                class="form-control__input"
                id="configName"
                type="text"
                name="configName"
                formControlName="configName"
                autocomplete="off"
                [required]="true"
              />
              <span class="required-asterisk"></span>
              @if (configName?.hasError('required')) {
              <span class="control-feedback">Required</span>
              }
            </div>
            <span>": {{ "{" }}</span>
          </div>
        </h3>
        <div class="tab-2ch">
          <span>"ConfigId": "{{ currentConfigResource.value()?.id }}",</span
          ><br />
          <config-editor-routes
            [routesArrayName]="routesControlName"
            [parent]="gatewayConfigForm"
            [clusterNameChangedTrigger]="clusterRenameTrigger()"
          ></config-editor-routes>
          <config-editor-clusters
            [clustersArrayName]="clustersControlName"
            [parent]="gatewayConfigForm"
            (clusterNameChanged)="onClusterNameChanged({clusterNameBeforeChange: $event.clusterNameBeforeChange, newClusterName: $event.newClusterName})"
          ></config-editor-clusters>
        </div>
      </div>
    </ng-container>
    <div class="form__footer">
      <span class="form__heading">{{ "}" }}</span>
    </div>
  </div>

  }
</section>
