.form-container {
  border: 0.1rem solid var(--neuko-border);
  border-radius: 0.25rem;
  background-color: var(--neuko-bg-card);
  padding: 0.25rem;
  margin-top: 0.3rem;
}

.form-container--child {
  background-color: var(--neuko-bg-body);
}

.form__heading {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--neuko-text-body-highlight);
}
.form__heading--second {
  color: var(--neuko-text-config-editor-second);
}
.form__heading--third {
  color: var(--neuko-text-config-editor-third);
}

.tab-2ch {
  padding-left: 2ch;
}
