<section class="container">
  <h2>Gateway configuration editor</h2>

  <form [formGroup]="config">
    <div>
      "
      <input id="configName" type="text" formControlName="configName" />
      ": {{ "{" }}
      <div style="padding-left: 2ch">
        "ConfigId": "{{ currentConfig.value()?.id }}",<br />

        <!-- Routes section -->
        <div formArrayName="routes">
          "Routes": [
          <div
            *ngFor="let route of currentConfig.value()?.routes; let i = index"
            [formGroupName]="i"
            style="padding-left: 2ch"
          >
            "
            <input id="routeName" type="text" formControlName="routeName" />":
            {{ "{" }}
            <div style="padding-left: 2ch">
              <label for="clusterName">"ClusterId": </label>
              <input
                id="clusterName"
                type="text"
                formControlName="clusterName"
              /><br />
            </div>

            <!-- Match section -->
            <div style="padding-left: 2ch" formGroupName="match">
              "Match": {{ "{" }}
              <div style="padding-left: 2ch">
                <label for="path">"Path": </label>
                <input id="path" type="text" formControlName="path" /><br />
              </div>
              {{ "}" }}
            </div>
          </div>
          "

          {{ "}" }}
        </div>
        <!-- end Routes section -->

        <!-- Clusters section -->
        <div formGroupName="clusters">
          "Clusters": [
          <div style="padding-left: 2ch">
            "
            <input id="clusterName" type="text" formControlName="clusterName" />
            ": {{ "{" }}

            <!-- Destination section -->
            <div style="padding-left: 2ch" formGroupName="destination">
              "
              <input
                id="destinationName"
                type="text"
                formControlName="destinationName"
              />
              ": {{ "{" }}
              <div style="padding-left: 2ch">
                <label for="address">"Destination address": </label>
                <input id="address" type="text" formControlName="address" />
              </div>
              {{ "}" }}
            </div>
            <!-- end Destination section -->

            {{ "}" }}
          </div>
          ]
        </div>
      </div>
    </div>
    {{ "}" }}
  </form>
</section>
