<li class="nav-item" role="presentation">
  <button
    class="nav-link active"
    id="home-tab"
    data-bs-toggle="tab"
    data-bs-target="#home-tab-pane"
    type="button"
    role="tab"
    aria-controls="home-tab-pane"
    aria-selected="true"
  >
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </button>
  <div
    *ngFor="
      let item of weatherForecast.forecastDataPerDayDto.feltTemperatureMax
    "
  >
    <p>Test: {{ item }}</p>
  </div>
</li>
