<div class="d-flex flex-row flex-xl-column justify-content-between">
  <div>
    <div>{{ weekdays[itemIndex()] }}</div>
    <div>{{ dates[itemIndex()] }}</div>
  </div>
  <div>
    <img
      class="bg-primary bg-gradient rounded-2"
      src="{{ picToCodePath[itemIndex()] }}"
      alt="weather icon"
      width="70px"
    />
  </div>
  <div>
    <div>
      {{ forecastPerDay.temperatureMax[itemIndex()] }}
      °{{ units.temperature }}
    </div>
    <div>
      {{ forecastPerDay.temperatureMin[itemIndex()] }}
      °{{ units.temperature }}
    </div>
  </div>
  <div>
    <div class="meteoblue-pictofont" [innerHTML]="wind[itemIndex()]"></div>
    <div
      class="meteoblue-pictofont"
      [innerHTML]="precipitation[itemIndex()]"
    ></div>
  </div>
</div>
