<div class="d-flex flex-row flex-xl-column justify-content-between">
  <div>
    <div>{{ weekdays[itemIndex()] }}</div>
    <div>{{ dates[itemIndex()] }}</div>
  </div>
  <div>
    <img
      class="bg-primary bg-gradient rounded-2"
      src="{{ pictogramPath[itemIndex()] }}"
      alt="weather icon"
      width="70px"
    />
  </div>
  <div>
    <div>{{ temperatureMax[itemIndex()] }}</div>
    <div>{{ temperatureMin[itemIndex()] }}</div>
  </div>
  <div>
    <div class="">
      <div
        class="meteoblue-pictofont"
        [innerHTML]="windDirection[itemIndex()]"
      ></div>
      <div class="" [innerHTML]="windSpeed[itemIndex()]"></div>
    </div>
    <div
      class="meteoblue-pictofont"
      [innerHTML]="precipitation[itemIndex()]"
    ></div>
  </div>
</div>
