<div class="form-container form-container--child" [formGroup]="form">
  <h3 class="form__heading">Routes: [</h3>
  <ng-container formArrayName="routes">
    @for (route of formArray.controls; track $index; let i = $index) {
    <div class="tab-2ch" [formGroupName]="i">
      <span>"</span>
      <input type="text" formControlName="routeName" />
      <span>": {{ "{" }}</span>
      <div class="tab-2ch">
        <label for="clusterName">ClusterId: </label>
        <input
          id="clusterName"
          type="text"
          formControlName="clusterName"
        /><br />
        <span>Match: {{ "{" }}</span>
        <div class="tab-2ch" formGroupName="match">
          <label for="path">Path: </label>
          <input id="path" type="text" formControlName="path" />
        </div>
        <span>{{ "}" }}</span>
      </div>
      <span>{{ "}" }}</span>
    </div>
    }
  </ng-container>
  <div class="form__footer">
    <span class="form__footer-closing-bracket">],</span>
  </div>
</div>
