<div [formGroup]="parentForm">
  <h3 class="form__heading form__heading--second">"Clusters": {{ "{" }}</h3>
  <ng-container formArrayName="clusters">
    @for (cluster of formArray.controls; track $index; let i = $index) {
    <div
      class="tab-2ch form-container form-container--child"
      [formGroupName]="i"
    >
  <div class="form-control__container">
        <span>"</span>
        <app-editable-input
          [parent]="cluster"
          [parentIndex]="i"
        > 
        </app-editable-input>
        <span>": {{ "{" }}</span>
      </div>
      <div class="tab-2ch">
        <app-destinations
          [formArrayName]="childArrayControlName"
          [parentArrayName]="parentArrayControlName"
        ></app-destinations>
      </div>
      <span>{{ "}" }}</span>
    </div>
    }
  </ng-container>
  <span class="form__heading form__heading--second">{{ "}" }}</span>
</div>
