.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  background: var(--neuko-bg-body);
  border: 0.1rem solid var(--neuko-text-info);
  box-shadow: 0 0 0.5rem var(--neuko-text-info);
  border-radius: 6px;
  min-width: 25rem;
  max-width: 30vw;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal.shake {
  animation: shake 0.4s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.modal--error {
  border-color: var(--neuko-text-danger);
  box-shadow: 0 0 0.5rem var(--neuko-text-danger);
}
.modal--success {
  border-color: var(--neuko-text-success);
  box-shadow: 0 0 0.5rem var(--neuko-text-success);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--neuko-border);
}
.modal-title {
  font-weight: bold;
}
.modal-body {
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}
.modal-message {
  white-space: pre-line;
}
.modal__body--hr {
  border: none;
  border-top: 0.0625rem solid var(--neuko-border);
  margin: 1rem 0;
}
.modal-close {
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--neuko-text-body);
  cursor: pointer;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 0.1rem solid var(--neuko-border);
}

.progress-indicator {
  width: 15rem;
  margin: 0 auto;
  border-radius: 1rem;
  border: 0.25rem solid transparent;
  position: relative;
  padding: 1px;
}
.progress-indicator:before {
  content: "";
  border: 0.1rem solid var(--neuko-border);
  border-radius: 1rem;
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
}
.progress-indicator__bar {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: var(--neuko-text-info);
  width: 0;
  animation: borealisBar 1.25s linear infinite;
}
@keyframes borealisBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
