<nav class="navbar navbar-expand-lg bg-body border-bottom border-info-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="images/neuko-bulb-logo__github-transparent.svg"
        alt="Neuko Bulb Logo"
        width="50"
        height="50"
        class="d-inline-block"
      />
      Dev-Server-Example
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"></div>
    </div>
    <app-theme-toggler class="me-5"></app-theme-toggler>
  </div>
</nav>
