<div [formGroup]="parentFormGroup">
  <h3 class="form__heading form__heading--second">"Routes": {{ "{" }}</h3>
  <ng-container formArrayName="routes">
    @for (route of routes.controls; track $index; let routeIndex = $index) {
    <div
      class="tab-2ch form-container form-container--child"
      [formGroupName]="routeIndex"
    >
      <div class="form-control__container">
        <span>"</span>
        <config-editor-editable-input
          [parent]="route"
          [parentIndex]="routeIndex"
          [controlName]="CONTROL_NAMES.ROUTE_NAME"
          [label]="CONTROL_LABELS.ROUTE_NAME"
          [showLabel]="false"
        ></config-editor-editable-input>
        <span>": {{ "{" }}</span>
      </div>
      <div class="tab-2ch">
        <div class="form-control__container">
          <config-editor-editable-input
            [parent]="route"
            [parentIndex]="routeIndex"
            [controlName]="CONTROL_NAMES.CLUSTER_NAME"
            [label]="CONTROL_LABELS.CLUSTER_NAME"
          ></config-editor-editable-input>
        </div>
        <span>Match: {{ "{" }}</span>
        <div class="tab-2ch" formGroupName="match">
          <div class="form-control__container">
            <config-editor-editable-input
              [parent]="route.get('match')"
              [parentIndex]="routeIndex"
              [controlName]="CONTROL_NAMES.MATCH_PATH"
              [label]="CONTROL_LABELS.MATCH_PATH"
            ></config-editor-editable-input>
          </div>
        </div>
        <span>{{ "}" }}</span>
      </div>
      <span>{{ "}" }}</span>
    </div>
    }
  </ng-container>
  <span class="form__heading form__heading--second">{{ "}" }},</span>
</div>
