<div [formGroup]="parentForm">
  <h3 class="form__heading form__heading--second">"Routes": [</h3>
  <ng-container formArrayName="routes">
    @for (route of formArray.controls; track $index; let i = $index) {
    <div
      class="tab-2ch form-container form-container--child"
      [formGroupName]="i"
    >
      <span>"</span>
      <input type="text" formControlName="routeName" name="routeName" />
      <span>": {{ "{" }}</span>
      <div class="tab-2ch">
        <label for="clusterName">ClusterId: </label>
        <input
          id="clusterName"
          type="text"
          formControlName="clusterName"
          name="clusterName"
        /><br />
        <span>Match: {{ "{" }}</span>
        <div class="tab-2ch" formGroupName="match">
          <label for="path">Path: </label>
          <input
            id="path"
            type="text"
            formControlName="path"
            name="matchPath"
          />
        </div>
        <span>{{ "}" }}</span>
      </div>
      <span>{{ "}" }}</span>
    </div>
    }
  </ng-container>
  <span class="form__heading form__heading--second">],</span>
</div>
