<div [formGroup]="parentForm">
  <h3 class="form__heading form__heading--second">"Routes": {{ "{" }}</h3>
  <ng-container formArrayName="routes">
    @for (route of formArray.controls; track $index; let i = $index) {
    <div
      class="tab-2ch form-container form-container--child"
      [formGroupName]="i"
    >
  <div class="form-control__container">
        <span>"</span>
        @if (routeName?.invalid) {
        <label class="control__label" for="routeName">Route Name:</label>
        }
  <div class="form-control__input-wrapper">
          <input
            class="form-control__input"
            id="routeName"
            type="text"
            formControlName="routeName"
            name="routeName"
            autocomplete="off"
            [required]="true"
          />
          <span class="control-required"></span>
          @if (routeName?.hasError('required')) {
          <span class="control-feedback">Required</span>
          }
        </div>
        <span>": {{ "{" }}</span>
      </div>
      <div class="tab-2ch">
  <div class="form-control__container">
          <label for="clusterName">ClusterId: </label>
          <div class="form-control__input-wrapper">
            <input
              class="form-control__input"
              id="clusterName"
              type="text"
              formControlName="clusterName"
              name="clusterName"
              autocomplete="off"
              [required]="true"
            />
            <span class="control-required"></span>
            @if (clusterName?.hasError('required')) {
            <span class="control-feedback">Required</span>
            }
          </div>
        </div>

        <span>Match: {{ "{" }}</span>
        <div class="tab-2ch" formGroupName="match">
          <div class="form-control__container">
            <label for="path">Path: </label>
            <div class="form-control__input-wrapper">
              <input
                class="form-control__input"
                id="path"
                type="text"
                formControlName="path"
                name="matchPath"
                autocomplete="off"
                [required]="true"
              />
              <span class="control-required"></span>
              @if (path?.hasError('required')) {
              <span class="control-feedback">Required</span>
              }
            </div>
          </div>
        </div>
        <span>{{ "}" }}</span>
      </div>
      <span>{{ "}" }}</span>
    </div>
    }
  </ng-container>
  <span class="form__heading form__heading--second">{{ "}" }},</span>
</div>
